---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';

const lists = [
	{
		id: 1,
		name: 'one',
		items: [],
	},
	{
		id: 2,
		name: 'two',
		items: [],
	},
	{
		id: 3,
		name: 'three',
		items: [],
	},
];
---

<Layout title="Welcome to Astro.">
	<div class="grid grid-cols-1 md:grid-cols-3 xl:grid-cols-4 gap-4">
		{lists.map((list) => (
			<Card id={list.id} name={list.name} count={list.items.length} />
		))}
		<a href="/lists/create" class="bg-white block p-3 rounded-lg">
			+ Add
		</a>
	</div>
</Layout>
